[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==9.0.2"
port-for = "==1.0.0"
mirakuru = "==3.0.2"
boto3 = "==1.42.63"
boto3-stubs = {version = "==1.42.63", extras = ["dynamodb"]}
pytest-dynamodb = {path = ".", editable = true}

[dev-packages]
towncrier = "==25.8.0"
coverage = "==7.11.0"
pytest-xdist = "==3.8.0"
mypy = "==1.19.1"
tbump = "==6.11.0"
